<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title><%= data.page.title || "Omgeving Upgrade" %> - Omgeving Upgrade</title>
    
    <%= stylesheet_link_tag "all" %>
    <script src="js/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="wrapper" id="mainwrapper">
      <%= partial "header" %>
      <div class="main-container push">
        <div class="main clearfix">
          <p class="breadcrumbs">
            U bent hier: <a href="/index.html">home</a> &gt; <a href="/<%= current_page.data.slug %>/"><%= data.page.title %></a>
          </p>
          <%= yield %>
        </div><!-- /main -->
      </div><!-- /main-container -->
      <%= partial "footer" %>
  </body>
</html>