<div class="header-container">
    <header class="clearfix">
        <a href="/index.html">
            <img class="logo" src="/img/logo_750.png" />
        </a>
        <nav id="navigation">
		  <input type="checkbox" id="toggle" />
		  <label for="toggle" class="toggle"></label>
		  <ul class="menu parent">
		    <li class="parent">
		    	<a href="/index.html" class="parentlink">Home</a>
		    </li>
		    <li class="parent">
		    	<a href="/vastgoed/" class="parentlink">Vastgoed</a>
		    	<ul class="children vastgoed">
		    		<li class="child"><%= link_to 'bebording', 'bebording.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', 'bestrating.html' %></li>
		    		<li class="child"><%= link_to 'evenementen', 'evenementen.html' %></li>
		    		<li class="child"><%= link_to 'onderhoud', 'onderhoud.html' %></li>
		    		<li class="child"><%= link_to 'parkeerterreinen', 'parkeerterreinen.html' %></li>
		    		<li class="child"><%= link_to 'straatmeubilair', 'straatmeubilair.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', 'tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', 'tuinhout.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/particulieren/" class="parentlink">Particulieren</a>
		    	<ul class="children particulieren">
		    		<li class="child"><%= link_to 'evenementen', 'evenementen.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', 'tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', 'tuinhout.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', 'bestrating.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/horeca/" class="parentlink">Horeca</a>
		    	<ul class="children horeca">
		    		<li class="child"><%= link_to 'bebording', 'bebording.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', 'bestrating.html' %></li>
		    		<li class="child"><%= link_to 'evenementen', 'evenementen.html' %></li>
		    		<li class="child"><%= link_to 'onderhoud', 'onderhoud.html' %></li>
		    		<li class="child"><%= link_to 'parkeerterreinen', 'parkeerterreinen.html' %></li>
		    		<li class="child"><%= link_to 'straatmeubilair', 'straatmeubilair.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', 'tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', 'tuinhout.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/overons/" class="parentlink">Over Ons</a>
		    </li>
		    <li class="parent">
		    	<a href="/contact/" class="parentlink">Contact</a>
		    </li>
		  </ul>
		</nav><!-- End of Navigation -->
    </header>
</div>