<div class="header-container">
    <header class="clearfix">
        <a href="/omgevingupgrade/index.html">
            <img class="logo" src="/omgevingupgrade/img/logo_750.png" />
        </a>
        <nav id="navigation">
		  <input type="checkbox" id="toggle" />
		  <label for="toggle" class="toggle"></label>
		  <ul class="menu parent">
		    <li class="parent">
		    	<a href="/omgevingupgrade/index.html" class="parentlink">Home</a>
		    </li>
		    <li class="parent">
		    	<a href="/omgevingupgrade/vastgoed/" class="parentlink">Vastgoed</a>
		    	<ul class="children">
		    		<li class="child"><%= link_to 'bebording', '/omgevingupgrade/bebording.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', '/omgevingupgrade/bestrating.html' %></li>
		    		<li class="child"><%= link_to 'evenementen', '/omgevingupgrade/evenementen.html' %></li>
		    		<li class="child"><%= link_to 'onderhoud', '/omgevingupgrade/onderhoud.html' %></li>
		    		<li class="child"><%= link_to 'parkeerterreinen', '/omgevingupgrade/parkeerterreinen.html' %></li>
		    		<li class="child"><%= link_to 'straatmeubilair', '/omgevingupgrade/straatmeubilair.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', '/omgevingupgrade/tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', '/omgevingupgrade/tuinhout.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/omgevingupgrade/particulieren/" class="parentlink">Particulieren</a>
		    	<ul class="children">
		    		<li class="child"><%= link_to 'evenementen', '/omgevingupgrade/evenementen.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', '/omgevingupgrade/tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', '/omgevingupgrade/tuinhout.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', '/omgevingupgrade/bestrating.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/omgevingupgrade/horeca/" class="parentlink">Horeca</a>
		    	<ul class="children">
		    		<li class="child"><%= link_to 'bebording', '/omgevingupgrade/bebording.html' %></li>
		    		<li class="child"><%= link_to 'bestrating', '/omgevingupgrade/bestrating.html' %></li>
		    		<li class="child"><%= link_to 'evenementen', '/omgevingupgrade/evenementen.html' %></li>
		    		<li class="child"><%= link_to 'onderhoud', '/omgevingupgrade/onderhoud.html' %></li>
		    		<li class="child"><%= link_to 'parkeerterreinen', '/omgevingupgrade/parkeerterreinen.html' %></li>
		    		<li class="child"><%= link_to 'straatmeubilair', '/omgevingupgrade/straatmeubilair.html' %></li>
		    		<li class="child"><%= link_to 'tuinaanleg en -inrichting', '/omgevingupgrade/tuinaanleg-en-inrichting.html' %></li>
		    		<li class="child"><%= link_to 'tuinhout', '/omgevingupgrade/tuinhout.html' %></li>
		    	</ul>
		    </li>
		    <li class="parent">
		    	<a href="/omgevingupgrade/overons/" class="parentlink">Over Ons</a>
		    </li>
		    <li class="parent">
		    	<a href="/omgevingupgrade/contact/" class="parentlink">Contact</a>
		    </li>
		  </ul>
		</nav><!-- End of Navigation -->
    </header>
</div>